*{
    padding: 5px;
    box-sizing: border-box;
}   
.header{
    background-image:url("image.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    color: #fff;
}
.input-box input,button{
    width: 100%;
    padding: 10px;
    border-radius:10px;
}
.input-1 label{
    color: rgb(0,0,255);
}
.input-2 label{
    color: rgb(255,0,255);
}
.input-3 label{
    color: rgb(255,0,0);
}
.input-4 label{
    color: rgb(0,0,255);
}
.input-5 label{
    color: rgb(0,255,255);
}
.input-6 label{
    color: rgb(0,255,0);
}
.input-7 label{
    color: #000
}
.input-8 label{
    color: rgba(255, 99, 71, 0.5)
}
a[href]{
    text-decoration: none;
}
a[href]:hover{
    text-decoration:underline
}
.input-box label{
    margin-bottom: 5px;
    display: block;
}
.input-box{
    display: block;
    margin-bottom: 10px;
  
}